<h1>Congratulations on completing your first #DoLearnDo activity!<br>
We'll be in touch with you regarding next steps soon (~48 hours or less)<br>
If you have any questions, feel free to email me at kathleen@prehack.co</h1>