
<p>
  Hey, <%= @user.first_name %>
</p>
<h1>PreHack Application - Do Learn Do Exercise (Part 1)</h1>

<h2>The next part of your application involves completing a short exercise. This activity will give you an idea of the PreHack learning style which involves a model that we call “Do Learn Do”.</h2>

<h3>Background</h3>
<p>At PreHack, we do things a bit differently from other training programs. One of the key differences is in the way that we teach our material. We use a model for learning that we call “Do Learn Do” (DLD) which focuses on practice over theory.<br>

Instead explaining DLD to you through words, we think that it’s best for you to experience it. In this exercise, you will get a sense for what it’s like to learn the PreHack way with Do Learn Do.</p>

<h3>Prompt</h3>
<p>Imagine that you are the digital marketer for a private tours company. Your company offers small group tours (max 12 people) to a variety of European cities. Your target audience is men and women in the United States ranging from 40-60 years old who are interested in international travel. <br>

You have written a blog post for this audience and plan to publish it on the company blog. Before publishing the blog post, you want to come up with an engaging blog title that your audience will want to click on.</p>

<h3>Read the blog post content (see below).</h3>
<p>1. Read the blog post content (see below).</p>
<p>2. Submit a blog post title</p>
<!-- BLOG -->
<h3>[Blog Post Title]</h3>
<p>Chances are you didn’t buy airfare and shell out for a tour guide to look at the backs of tourists’ heads. You embarked in search of a more authentic travel experience, but that can be hard or impossible to get without the insights of a well seasoned travel expert.</p>
<p>For those who have always wanted to experience the beer gardens of German, or behold the beaches at Normandy, nothing can compare with the intimacy and feeling of personal connection that comes from traveling with a small group, forming bonds, and spending more time pursuing your own interests. In the long run, paying a small premium to build a custom trip can pay off hugely in terms of satisfaction.</p>
<p>To many, the big tour groups appear to offer an enticing savings on the chance to see some of the world’s greatest sights. But for today’s traveler, who is more educated, interested, and globally connected than those of the past, the abroad experience they desire goes far beyond superficial sightseeing in large numbers. Before you jump on the bus, take a moment to consider what you’re not getting, that you do when you put the time and effort into booking a private tour.</p>
<p><strong>1. Smaller Groups Have More Intimate Experiences.</strong></p>
<p>It is impossible to provide an immersive experience for a group of 100, 50, or even 20 tourists. You are limited to establishments and attractions that are built to accommodate enormous groups, and those tend to be tourist traps. If you want to get the “local experience,” take note that locals do not travel in large herds.</p>
<p>Private guides quite frequently have a deep local knowledge. Perhaps they have lived in a particular town, or have friends in certain cities. Maybe they’ve just been rotating through the same off-the-beaten-path spots long enough that they have developed relationships with owners, and can take you places that are off limits to throngs of tourists.</p>

<p><strong>2. Private Tours Offer a More Personalized Experience</strong></p>
<p>One of the best things about small group travel is that an expert guide can spend more time putting together an itinerary that takes into account each member’s particular points of interest. This is, after all, your trip. A proper guide will consult with you to put together a customized schedule that cherry-picks the experiences that matter most to you and your group.</p>

<p><strong>3. Expert Guides Save Precious Time.</strong></p>
<p>Without a doubt, expert guides are well connected, know the system, and can find travelers some serious savings on airfare, lodging, and transit. But perhaps even more importantly, they can coordinate itineraries that cut down on transit time, and turn it into more free time for experience. In major metropolitan areas, a seasoned guide knows the best mode of transportation for getting from A to B, and everything worthwhile that might fall in between.</p>

<!-- Put link to form here -->
<%= link_to "Submit a blog post title", user_part1_index_path(@user.id) %>







